[Desktop Entry]
Version=1.0
Type=Application
Name=Chatgpt
Comment=Chatgpt Web Application
Exec=chromium --app="https://chatgpt.com" --new-window --class="Chatgpt"
Icon=/home/osmar/.local/share/icons/webapp-icons/Chatgpt.png
Categories=Development;
NoDisplay=false
StartupWMClass=Chatgpt
StartupNotify=true
Terminal=false
