[Desktop Entry]
Version=1.0
Type=Application
Name=Github
Comment=osmargm1202 Gitub App
Exec=chromium --app="https://github.com/osmargm1202" --new-window --class="Github"
Icon=/home/osmar/.local/share/icons/webapp-icons/Github.png
Categories=Development;
NoDisplay=false
StartupWMClass=Github
StartupNotify=true
Terminal=false
