[Desktop Entry]
Version=1.0
Type=Application
Name=Instagram
Comment=Instagram Web Application
Exec=chromium --app="https://instagram.com" --new-window --class="Instagram"
Icon=/home/osmar/.local/share/icons/webapp-icons/Instagram.png
Categories=Network;WebBrowser;
NoDisplay=false
StartupWMClass=Instagram
StartupNotify=true
Terminal=false
