[Desktop Entry]
Version=1.0
Type=Application
Name=Microsoft Teams
Comment=Microsoft Teams Web Application
Exec=chromium --app="https://teams.microsoft.com/" --new-window --class="Microsoft Teams"
Icon=/home/osmar/.local/share/icons/webapp-icons/Microsoft Teams.png
Categories=Office;
NoDisplay=false
StartupWMClass=Microsoft Teams
StartupNotify=true
Terminal=false
