[Desktop Entry]
Version=1.0
Type=Application
Name=Neon
Comment=Neon Postgresql Database App
Exec=chromium --app="https://console.neon.tech/" --new-window --class="Neon"
Icon=/home/osmar/.local/share/icons/webapp-icons/Neon.png
Categories=Network;WebBrowser;
NoDisplay=false
StartupWMClass=Neon
StartupNotify=true
Terminal=false
