[Desktop Entry]
Version=1.0
Type=Application
Name=Netflix
Comment=Netflix Web Application
Exec=chromium --app="https://netflix.com" --new-window --class="Netflix"
Icon=/home/osmar/.local/share/icons/webapp-icons/Netflix.png
Categories=Network;WebBrowser;
NoDisplay=false
StartupWMClass=Netflix
StartupNotify=true
Terminal=false
