[Desktop Entry]
Version=1.0
Type=Application
Name=WebUi
Comment=ORGM OpenWebUI
Exec=chromium --app="https://chat.or-gm.com" --new-window --class="WebUi"
Icon=/home/osmar/.local/share/icons/webapp-icons/WebUi.png
Categories=Development;
NoDisplay=false
StartupWMClass=WebUi
StartupNotify=true
Terminal=false
