[Desktop Entry]
Version=1.0
Type=Application
Name=Whatsapp
Comment=Whatsapp Web Application
Exec=chromium --app="https://web.whatsapp.com/" --new-window --class="Whatsapp"
Icon=/home/osmar/.local/share/icons/webapp-icons/Whatsapp.png
Categories=Network;WebBrowser;
NoDisplay=false
StartupWMClass=Whatsapp
StartupNotify=true
Terminal=false
