[Desktop Entry]
Version=1.0
Type=Application
Name=Windows Docker
Comment=Windows VM
Exec=chromium --app="http://127.0.0.1:8006" --new-window --class="Windows Docker"
Icon=/home/osmar/.local/share/icons/webapp-icons/Windows Docker.png
Categories=Development;
NoDisplay=false
StartupWMClass=Windows Docker
StartupNotify=true
Terminal=false
