[Desktop Entry]
Version=1.0
Type=Application
Name=Excalid Draw Diagramas
Comment=Excalid Draw Web App
Exec=flatpak run org.chromium.Chromium --app="https://excalidraw.com/" --new-window --class="Excalid Draw Diagramas"
Icon=Excalid Draw Diagramas
Categories=Office;
NoDisplay=false
StartupWMClass=Excalid Draw Diagramas
StartupNotify=true
Terminal=false


