[Desktop Entry]
Version=1.0
Type=Application
Name=Gmail
Comment=Gmail Web Application
Exec=flatpak run org.chromium.Chromium --app="https://gmail.com" --new-window --class="Gmail"
Icon=Gmail
Categories=Network;WebBrowser;
NoDisplay=false
StartupWMClass=Gmail
StartupNotify=true
Terminal=false


