[Desktop Entry]
Version=1.0
Type=Application
Name=Netflix
Comment=Netflix Web Application
Exec=flatpak run org.chromium.Chromium --app="https://netflix.com" --new-window --class="Netflix"
Icon=Netflix
Categories=Network;WebBrowser;
NoDisplay=false
StartupWMClass=Netflix
StartupNotify=true
Terminal=false


