[Desktop Entry]
Version=1.0
Type=Application
Name=WebUi
Comment=ORGM OpenWebUI
Exec=flatpak run org.chromium.Chromium --app="https://chat.or-gm.com" --new-window --class="WebUi"
Icon=WebUi
Categories=Development;
NoDisplay=false
StartupWMClass=WebUi
StartupNotify=true
Terminal=false


