[Desktop Entry]
Version=1.0
Type=Application
Name=YoutubeKids
Comment=YoutubeKids Web Application
Exec=chromium --app=https://youtubekids.com --new-window
Icon=/home/osmarg/.local/share/icons/YoutubeKids.png
Categories=AudioVideo;
NoDisplay=false
StartupWMClass=chrome-youtubekids.com__-Default
StartupNotify=true
Terminal=false
