* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window {
    margin: 0;
    border: 2px solid #9bd0cc;
    background-color: #131b1a;
    border-radius: 10px;
    outline: none;
}

#input {
    margin: 8px;
    padding: 8px 12px;
    border: 1px solid #3f4a49;
    color: #dce8e6;
    background-color: #192120;
    border-radius: 8px;
    outline: none;
}

#input:focus {
    border-color: #9bd0cc;
}

#inner-box {
    margin: 0 5px 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 0;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0;
    border: none;
}

#text {
    padding: 8px 12px;
    color: #dce8e6;
    background-color: transparent;
}

#entry {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 2px 5px;
    border-radius: 8px;
}

#entry:hover,
#entry:selected {
    background-color: #9bd0cc;
}

#entry:hover #text,
#entry:selected #text {
    color: #0d4845;
    font-weight: 600;
}
