@import "macchiato.css";

* {
  border: none;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", "Symbols Nerd Font Mono", "Noto Color Emoji", sans-serif;
  font-size: 17px;
}

window.top_bar#waybar {
  background-color: transparent;
  border: none;
}
window.bottom_bar#waybar {
  background-color: transparent;
  border: none;
}
#custom-ws_1, #custom-ws_2, #custom-ws_3, #custom-ws_4, #custom-ws_5,
#custom-ws_6, #custom-ws_7, #custom-ws_8, #custom-ws_9, #custom-ws_10 {
  color: @text;
  font-size: 17px;
  font-weight: 700;
  padding: 0 6px;
  margin: 7px 1px;
  border-radius: 12px;
}
#custom-ws_1.empty, #custom-ws_2.empty, #custom-ws_3.empty, #custom-ws_4.empty, #custom-ws_5.empty,
#custom-ws_6.empty, #custom-ws_7.empty, #custom-ws_8.empty, #custom-ws_9.empty, #custom-ws_10.empty { color: @overlay0; }
#custom-ws_1.active, #custom-ws_2.active, #custom-ws_3.active, #custom-ws_4.active, #custom-ws_5.active,
#custom-ws_6.active, #custom-ws_7.active, #custom-ws_8.active, #custom-ws_9.active, #custom-ws_10.active { color: @blue; }
#mode, #submap {
  background: transparent;
  border-radius: 12px;
  padding: 0 14px;
  margin-top: 7px;
  margin-bottom: 7px;
}
window.top_bar .modules-right,
window.bottom_bar .modules-left,
window.bottom_bar .modules-right {
  background: rgba(0, 0, 0, 0.60);
  border-radius: 12px;
  min-height: 40px;
  padding: 10px 10px;
}
window.top_bar .modules-left {
  background: transparent;
  padding: 0;
}
#group-workspaces,
#workspaces {
  background: rgba(0, 0, 0, 0.60);
  border-radius: 12px;
  min-height: 40px;
  padding: 10px 10px;
}
#group-system,
#system {
  background: rgba(0, 0, 0, 0.60);
  border-radius: 12px;
  min-height: 40px;
  padding: 10px 10px;
}
window.top_bar .modules-center {
  background: rgba(0, 0, 0, 0.60);
  border-radius: 12px;
  min-height: 40px;
  padding: 10px 10px;
}
window.bottom_bar .modules-center {
  background: rgba(0, 0, 0, 0.60);
  border-radius: 12px;
  min-height: 40px;
  padding: 10px 10px;
}
window.top_bar .modules-center {
  font-weight: bold;
  color: @overlay2;
  padding: 0 8px;
}
window.top_bar .modules-right { padding-left: 24px; padding-right: 24px; }
window.bottom_bar .modules-left { border-radius: 12px; margin-left: 0; }
window.bottom_bar .modules-right { border-radius: 12px; margin-right: 0; }
#custom-day_month, #custom-date {
  color: @overlay2;
  padding: 0 14px;
  margin: 7px 5px;
}
#custom-time {
  background: transparent;
  border-radius: 12px;
  color: @text;
  font-size: 34px;
  font-weight: 800;
  padding: 0 20px;
  margin: 0 8px;
}
#custom-menu {
  background: transparent;
  box-shadow: none;
  color: @text;
  font-size: 29px;
  padding: 0;
  min-width: 47px;
  margin: 0;
}
#custom-orgm_logo {
  background: transparent;
  background-image: url("orgm-hypr.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px auto;
  font-size: 0;
  min-height: 0;
  min-width: 34px;
  padding: 0;
  margin: 0 2px 0 0;
}
#group-usage, #usage, #group-system, #system, #cpu, #memory, #temperature, #disk, #custom-swap, #custom-wallpaper, #bluetooth, #network, #privacy, #tray { color: @subtext0; }
#group-usage, #usage {
  background: transparent;
}
#custom-wallpaper, #bluetooth, #network, #privacy, #tray, #custom-logout_menu,
#custom-user, #window, #mpris, #backlight, #pulseaudio, #battery, #custom-kbd_layout,
#cpu, #memory, #temperature, #disk, #custom-swap {
  background: transparent;
}
#custom-wallpaper {
  margin-left: 18px;
}
#custom-wallpaper, #bluetooth, #network, #custom-logout_menu {
  padding: 0 10px;
}
#custom-logout_menu {
  color: @sky;
  font-size: 23px;
  margin-right: 10px;
}
#group-usage #cpu, #group-usage #memory, #group-usage #temperature, #group-usage #disk, #group-usage #custom-swap,
#usage #cpu, #usage #memory, #usage #temperature, #usage #disk, #usage #custom-swap,
#group-system #backlight, #group-system #pulseaudio, #group-system #battery,
#system #backlight, #system #pulseaudio, #system #battery {
  background: transparent;
  padding: 0 5px;
  margin: 0;
}
#bluetooth.disabled, #network.disabled, #idle_inhibitor.deactivated, #mpris.paused { color: @overlay0; }
#network.disconnected, #battery.critical, #temperature.critical { color: @red; }
#privacy-item.screenshare, #privacy-item.audio-in { color: @red; }
#custom-user { color: @subtext0; font-weight: bold; }
#window { color: @subtext0; }
#idle_inhibitor.activated { color: @blue; }
#mpris { color: @subtext0; }
#backlight { color: @subtext0; }
#pulseaudio { color: @subtext0; }
#pulseaudio.muted { color: @overlay0; }
#battery { color: @subtext0; }
#keyboard-state label.capslock { color: @base; font-weight: bold; }
#keyboard-state label.capslock.locked { color: @subtext0; }
#custom-kbd_layout { color: @subtext0; font-weight: bold; }
#idle_inhibitor, #custom-keybindings_help {
  background: transparent;
  border-radius: 12px;
  padding: 0 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}
#custom-keybindings_help { color: @subtext0; font-weight: bold; }
#battery.charging { color: @blue; }
#battery.plugged, #battery.full { color: @subtext0; }
#battery.warning { color: @subtext0; }

window.dock_bar#waybar {
  background-color: rgba(0, 0, 0, 0.60);
  border: none;
  border-radius: 12px;
}
#custom-dock_windows,
#custom-dock_kitty,
#custom-dock_nautilus,
#custom-dock_zen,
#custom-dock_chromium,
#custom-dock_obsidian,
#custom-dock_software {
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center 4px;
  background-size: 38px auto;
  color: transparent;
  font-size: 1px;
  font-weight: 900;
  min-width: 62px;
  min-height: 50px;
  padding: 36px 0 0 0;
  margin: 0;
}
#custom-dock_windows.running,
#custom-dock_kitty.running,
#custom-dock_nautilus.running,
#custom-dock_zen.running,
#custom-dock_chromium.running,
#custom-dock_obsidian.running,
#custom-dock_software.running {
  color: @blue;
  font-size: 8px;
  letter-spacing: 1px;
}
#custom-dock_windows.active,
#custom-dock_kitty.active,
#custom-dock_nautilus.active,
#custom-dock_zen.active,
#custom-dock_chromium.active,
#custom-dock_obsidian.active,
#custom-dock_software.active {
  color: @text;
  font-size: 8px;
  letter-spacing: 1px;
}
#mode,
#submap,
window.top_bar .modules-right,
window.bottom_bar .modules-left,
window.bottom_bar .modules-right,
#group-workspaces,
#workspaces,
#group-system,
#system,
window.top_bar .modules-center,
window.bottom_bar .modules-center,
window.dock_bar#waybar {
  border: 2px solid rgba(138, 173, 244, 0.93);
}

#custom-dock_windows { background-image: url("/home/osmarg/.local/share/icons/windows.png"); }
#custom-dock_kitty { background-image: url("/home/osmarg/.local/share/icons/kitty.svg"); }
#custom-dock_nautilus { background-image: url("/home/osmarg/.local/share/icons/nautilus.png"); }
#custom-dock_zen { background-image: url("/home/osmarg/.local/share/icons/zen-browser.png"); }
#custom-dock_chromium { background-image: url("/home/osmarg/.local/share/icons/chromium-browser.svg"); }
#custom-dock_obsidian { background-image: url("/home/osmarg/.local/share/icons/obsidian.png"); }
#custom-dock_software { background-image: url("/home/osmarg/.local/share/icons/software.png"); }
