* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

window {
    margin: 0;
    border: 2px solid #8aadf4;
    background-color: #24273a;
    border-radius: 10px;
    outline: none;
}

#input {
    margin: 8px;
    padding: 8px 12px;
    border: 1px solid #363a4f;
    color: #cad3f5;
    background-color: #1e2030;
    border-radius: 8px;
    outline: none;
}

#input:focus {
    border-color: #8aadf4;
}

#inner-box {
    margin: 0 5px 5px;
    border: none;
    background-color: transparent;
}

#outer-box {
    margin: 0;
    border: none;
    background-color: transparent;
}

#scroll {
    margin: 0;
    border: none;
}

#text {
    padding: 8px 12px;
    color: #cad3f5;
    background-color: transparent;
}

#entry {
    background-color: transparent;
    border: none;
    outline: none;
    margin: 2px 5px;
    border-radius: 8px;
}

#entry:hover,
#entry:selected {
    background-color: #8aadf4;
}

#entry:hover #text,
#entry:selected #text {
    color: #1e2030;
    font-weight: 600;
}
