[Desktop Entry]
Version=1.0
Type=Application
Name=Banco Popular
Comment=Internet Banking Banco Popular
Exec=chromium --app=https://ib.bpd.com.do --new-window
Icon=/home/osmarg/.local/share/icons/Banco Popular.png
Categories=Office;
NoDisplay=false
StartupWMClass=chrome-ib.bpd.com.do__-Default
StartupNotify=true
Terminal=false
