[Desktop Entry]
Version=1.0
Type=Application
Name=Claude
Comment=Claude Web Application
Exec=chromium --app="https://claude.ai" --new-window
Icon=/home/osmarg/.local/share/icons/Claude.png
Categories=Development;
NoDisplay=false
StartupWMClass=chrome-claude.ai__-Default
StartupNotify=true
Terminal=false
