[Desktop Entry]
Version=1.0
Type=Application
Name=Neon
Comment=Neon Postgresql Database App
Exec=chromium --app="https://console.neon.tech/" --new-window
Icon=/home/osmarg/.local/share/icons/Neon.png
Categories=Network;WebBrowser;
NoDisplay=false
StartupWMClass=chrome-console.neon.tech__-Default
StartupNotify=true
Terminal=false
