[Desktop Entry]
Version=1.0
Type=Application
Name=Poki
Comment=Poki Game App
Exec=chromium --app="https://poki.com" --new-window
Icon=/home/osmarg/.local/share/icons/Poki.png
Categories=Game;
NoDisplay=false
StartupWMClass=chrome-poki.com__-Default
StartupNotify=true
Terminal=false
