window {
	background: rgba(0, 0, 0, 0.60);
	border: 2px solid rgba(138, 173, 244, 0.93);
	border-radius: 12px;
	padding: 6px 10px;
}

#box {
	padding: 6px 10px;
}

#active {
	border: none;
}

button,
image {
	background: transparent;
	border: none;
	box-shadow: none;
	color: transparent;
}

button {
	border-radius: 0;
	padding: 4px;
	margin: 3px;
}

button:hover,
button:focus,
button:checked,
button.active {
	background: transparent;
	border: none;
	box-shadow: none;
}
