[Desktop Entry]
Version=1.0
Type=Application
Name=Outlook - Hotmail
Comment=Outlook - Hotmail Web Application
Exec=chromium --app=https://outlook.office.com/ --new-window
Icon=/home/osmarg/.local/share/icons/Outlook - Hotmail.png
Categories=Office;
NoDisplay=false
StartupWMClass=chrome-outlook.office.com__-Default
StartupNotify=true
Terminal=false
